manifest {
    name        = 'Cogent Analysis Pipeline NGS Tool Suite'
    author      = 'TBUSA BI Team'
    version     = '3.0.19'
    mainScript  = 'main.nf'
}

timeline.enabled = true
report.enabled = true
dag.enabled = true

includeConfig 'config/nextflow/process.config'
includeConfig 'config/nextflow/params.config'
includeConfig 'config/nextflow/profiles.config'
